.button{
    border: none;
    inline-size: 60px;
    block-size: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.button:active{
    transform: scale(0.9);
}

#play{
    background-image: url("https://ale804.github.io/iptv/play.svg");
}

#pause{
    background-image: url("https://ale804.github.io/iptv/pause.svg");
}

#backward{
    background-image: url("https://ale804.github.io/iptv/-10.svg");
}

#forward{
    background-image: url("https://ale804.github.io/iptv/+10.svg");
}
#menu{
    background-image: url("https://ale804.github.io/iptv/menu-bar.svg");
}
